.w{
    color: red;
}
.h2{
    color: green;
}
.h3{
    color: greenyellow;
}
.card-text{
    color: aquamarine;
}
body{
    background: url(https://catherineasquithgallery.com/uploads/posts/2023-02/1676595155_catherineasquithgallery-com-p-skachat-cherno-zelenii-fon-41.jpg);
}
.fr{
    text-align: left;
}