.q{   
    text-align: center;
}
.h2{
    color:  green;
    text-align: center;
}
.h3{
    color: greenyellow;
    text-align: center;
}
.w{
    color:  red;
    text-align: center;
}
body{
    background: url(https://img.goodfon.com/original/1920x1080/2/ff/abstraktsiia-oboi-1920x1080-polosy.jpg);
    background-size: 100% ;
}
.card-text{
    color: aqua;
}